body{
    text-align: center;
}
.container{
    border: solid 2px;
    border-radius: 3px;
    width: 250px;
    margin: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background: fixed;
    align-items: center;
    position: absolute;
    height: 600px;
    padding: 10px;
    justify-content: center;
    opacity: 0px;
    text-decoration:dotted;
}
.buttons{
    background-color: black;
    color: white;
}
.buttons:hover{
    background-color: crimson;
}